numpy
ipython
matplotlib
scipy
keyring
pyserial
pyvisa
pandas
mysql-connector-python
-e /azcam/azcam
-e /azcam/azcam-focus
-e /azcam/azcam-testers
-e /azcam/azcam-arc
-e /azcam/azcam-archon
-e /azcam/azcam-mag
-e /azcam/azcam-qhy
-e .
